body.blue {
    background-color: #f4f6f9;
    font-size: 15px;
}

.blue .navbar {
    background: #01d8da;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.blue .block::before {
    background-color: #01d8da;
}

.blue .block-header {
    color: white;
}

.blue .block-header .breadcrumb {
    background: rgba(255,255,255,0.3);
}

.blue .block-header .breadcrumb a {
    color: white;
}

.blue .card {
    background: #fff;
    margin-bottom: 30px;
    border-radius: .1875rem;
    box-shadow: none;
    border: 0;
}

.blue .nav-tabs {
    border-bottom: 0;
}

.blue .nav-tabs .nav-link {
    color: #888;
}

.blue .nav-tabs .nav-link:hover,
.blue .nav-tabs .nav-link:active {
    border: 1px solid #00cfd1 !important;
}

.blue .card .header h4 {
    color: #757575
}

.blue .card .header h4::before {
    background: #00cfd1;
}