.rect-title {
	fill: white;
	stroke-width: 5;
	opacity: 0.5;
	stroke: black;
}
			
.rect-title-selected {
	stroke: red !important;
}
			
.line {
	stroke-width: 5;
}
			
div.tooltip {	
	position: absolute;			
	text-align: center;			
	width: 150px;					
	height: 60px;					
	padding: 2px;				
	font: 14px sans-serif;		
	background: #e9e9e9;	
	border: 0px;		
	border-radius: 2px;			
	pointer-events: none;			
}