<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AspNetVnext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="AspNetCi" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="AspNetVnext" value="true" />
    <add key="AspNetCi" value="true" />
  </disabledPackageSources>
</configuration>
