@{
    ViewBag.Title = "Index";
    ViewBag.ProductName = "Simple Identity Server";
}

@model SimpleIdentityServer.Api.ViewModels.ConsentViewModel

<div class="container col-lg-8 col-md-offset-2">
    <div class="row">
        <div class="col-lg-2">
            <img src="@Url.Content("~/Content/img/OAuth2.png")" width="100" height="100" />
        </div>
        <div class="col-lg-10">
            <h3>
                @Model.ClientDisplayName
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="page-header">
            <h3>This application would like to:</h3>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var scope in Model.AllowedScopeDescriptions)
            {
                <li class="list-group-item">
                    @scope
                </li>
            }
        </ul>
    </div>
    <div class="row">
        <a href="@Url.Action("Cancel", new { code = Model.Code })" class="btn btn-default">Cancel</a>
        <a href="@Url.Action("Confirm", new { code = Model.Code })" class="btn btn-default">Confirm</a>
    </div>
</div>