@{
    ViewBag.Title = "Form";
}

<div class="col-md-8 col-md-offset-2">
    <h1>Create account</h1>
    <form method="post" action="@Url.Action("Index")" id="form">
        <!-- Login -->
        <fieldset class="form-group">
            <label>Login</label>
            <input type="text" name="Name" class="form-control" placeholder="Your login" />
        </fieldset>
        <!-- Display new password -->
        <fieldset class="form-group">
            <label>New password</label>
            <input type="password" name="Password" class="form-control" placeholder="Your password" />
        </fieldset>
        <button type="submit" class="form-control">Add</button>
    </form>
</div>