section.tile {
    background-color: rgba(216, 216, 216, 0.76);
    padding: 5px;
    border: 1px solid rgb(138, 130, 130);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

section.tile .header {
    height:20px;
}

section.tile .header a {
    color: #F7F3F3;
}

section.tile:hover {
    background-color: rgb(216, 216, 216);
}

section.tile .clicked {
    cursor: pointer;   
}

section.tile:active {
    animation: TileIsCliked 1s 1;
}

section.tile .header a:hover {
    color: #6D6A6A;
    text-decoration: none;
}

section.tile .picture {
    text-align:center;
}

section.tile .picture img {
    width: 60px;
    height: 60px;
}

section.tile .title {
    word-wrap:break-word; 
    text-align:right;
}

@keyframes TileIsCliked {
    0%,
    100% { transform: scale(0.98, 0.98); }
}