<html>
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</head>
	<style>
		.jumbotron {
			margin-bottom: 0;
		}
		
		.carousel-indicators .active {
			background-color:#b8bdc1;
		}
		
		.carousel-indicators li {
			background-color: rgb(233, 236, 239);
		}

		.card-img {
			text-align: center;
			height:100px;
			line-height: 100px;
		}
		
		.card-img img {
			width: 100px;
			vertical-align: middle;
		}
		
		footer {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	</style>
	<body>
		<header>
			<div class="navbar navbar-dark bg-dark shadow-sm">
				<div class="container d-flex justify-content-between">
					<a href="#" class="navbar-brand"><strong>SimpleIdServer</strong></a>
					<ul class="navbar-nav" style="display:inline-block;">
						<li class="nav-item" style="display:inline-block;">
							<a class="nav-link" href="#">Documentation</a>
						</li>
						<li class="nav-item" style="display:inline-block;">
							<a class="nav-link" href="#">Contact us</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div>
			<!-- Banner -->
			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">SimpleIdServer</h1>
					<p class="lead text-muted">
						[short_description]
					</p>
					<p>
						<a href="#" class="btn btn-primary my-2">Download</a>
					</p>
				</div>
			</section>
			<main class="album py-5 bg-light ">
				<!-- Why SimpleIdServer -->
				<div class="container">
					<h1>Why choose SimpleIdServer ?</h1>
					<p>
						SimpleIdServer is an end to end security solution used to manage the software permissions.
						<ul class="list-group">
							<li class="list-group-item">Compliant with new security standards : OPENID, OAUTH2.0, SCIM2.0, UMA2.0</li>
							<li class="list-group-item">Open source</li>
							<li class="list-group-item">Advanced tools : ui administration, identities provisioning etc ...</li>
						</ul>
					</p>
				</div>
				<!-- For who ? -->
				<div class="container">
					<h1>For who ?</h1>
					<p>
						You're a software architect and you whish to :
						<ul class="list-group">
							<li class="list-group-item">Manage the permissions of your existing or new applications</li>
							<li class="list-group-item">Expose the applications to the public and protect them</li>
							<li class="list-group-item">Give the control to your end users on the permissions management of their resources</li>
						</ul>
					</p>
				</div>
				<!-- What's SimpleIdServer ? -->
				<div class="container">
					<h1>What's SimpleIdServer ?</h1>
					<div class="row">
						<div class="col-md-6">
							<div class="card mb-4">
								<h5 class="card-header">Authenticate your end-users</h5>
								<div class="card-body">
									<ul class="list-group">
										<li class="list-group-item">Authenticate the end users in a website / api or mobile application</li>
										<li class="list-group-item">Use Two factor authentication</li>
										<li class="list-group-item">Use passwordless authentication</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card mb-4">
								<h5 class="card-header">Manage the authorization</h5>
								<div class="card-body">
									<ul class="list-group">
										<li class="list-group-item">Protect your APIs from unauthorized applications</li>
										<li class="list-group-item">Protect the resources owned by your end-users</li>
										<li class="list-group-item">Share protected resources to other end-users</li>
									</ul>
								</div>					
							</div>
						</div>
						<div class="col-md-6">
							<div class="card mb-4">
								<h5 class="card-header">Manage the end-users identities</h5>
								<div class="card-body">
									<ul class="list-group">
										<li class="list-group-item">Manage the identities of your end-users</li>
										<li class="list-group-item">Provision the end-users identities from externals sources such as Active directory</li>
									</ul>
								</div>					
							</div>
						</div>
					</div>
				</div>
				<!-- Use case -->
				<div class="container">
					<h1>Use cases</h1>
					<ul class="list-group">
						<li class="list-group-item">Add user provisioning with an Active Directory</li>
						<li class="list-group-item">Protect and share Office documents without dependencies on online storage solution such as : DropBox or OneDrive</li>
						<li class="list-group-item">As a patient I want to grant access to my person data to a doctor or public organisation</li>
					</ul>
				</div>
				<!-- Standards & Certifications -->
				<div class="container">
					<h1>Standards & Certifications</h1>
					<div class="row">
						<div class="col-md-4">
							<div class="card-img"><img src="http://openid.net/logo-graphics/openid-icon-1000x1000.png" /></div>
						</div>
						<div class="col-md-4">
							<div class="card-img"><img src="https://oauth.net/images/oauth-2-sm.png" /></div>
						</div>
						<div class="col-md-4">
							<img src="http://www.simplecloud.info/img/logo/SCIM_B-and-W_400x136.png" width="100"/>
						</div>
						<div class="col-md-4">
							<img src="http://kantarainitiative.org/confluence/download/attachments/17760302/UMA-logo.png" width="100" />
						</div>
					</div>
				</div>
				<!-- Getting started -->
				<div class="container">
					<h1>Getting started</h1>
					<div class="row">
						<div class="col-3">
							<div class="nav flex-column nav-pills">
								<a class="nav-link active" data-toggle="pill" href="#installMsi">Install and launch the MSI</a>
								<a class="nav-link" data-toggle="pill" href="#launchApplication">Launch the application</a>
								<a class="nav-link" data-toggle="pill" href="#browseWebsite">Browse the website</a>
							</div>						
						</div>
						<div class="col-9">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="installMsi">
									Download the MSI installer and launch the installation
								</div>
								<div class="tab-pane fade" id="launchApplication">
									[launch]
								</div>
								<div class="tab-pane fade" id="browseWebsite">
									[browse]
								</div>
							</div>							
						</div>
					</div>
				</div>
			</main>
			<footer class="text-muted">
				<div class="container">
					@Copyright Advance ICT
				</div>
			</footer>
		</div>
	</body>
</html>