@using SimpleIdentityServer.Host.ViewModels

@model CallbackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Callback";
}

<div class="row">
    <div class="col-md-5">
        <label>Identity token</label>
    </div>
    <div class="col-md-7" style="overflow-wrap: break-word;">
        @if (string.IsNullOrWhiteSpace(Model.IdentityToken))
        {
            <p>No identity token</p>
        }
        else
        {
            @Model.IdentityToken
        }
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label>Access token</label>
    </div>
    <div class="col-md-7">
        @if (string.IsNullOrWhiteSpace(Model.AccessToken))
        {
            <p>No access token</p>
        }
        else
        {
            @Model.AccessToken
        }
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label>State</label>
    </div>
    <div class="col-md-7">
        @if (string.IsNullOrWhiteSpace(Model.State))
        {
            <p>No state</p>
        }
        else
        {
            @Model.State
        }
    </div>
</div>