@{
    ViewBag.Title = "Edit user";
    ViewBag.IsEditDisplayed = true;
    ViewBag.IsSimulatorDisplayed = false;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="tab-pane active" id="edit-ro">
    <div class="col-md-8 col-md-offset-2">
        <h1>Edit resource owner</h1>
        <form action="@Url.Action("Edit")" method="post">
            <!-- Display name -->
            <fieldset class="form-group">
                <label>Login</label>
                <input type="text" name="Name" class="form-control" placeholder="Your login" />
            </fieldset>
            <!-- Display new password -->
            <fieldset class="form-group">
                <label>New password</label>
                <input type="password" name="Password" class="form-control" placeholder="Your password" />
            </fieldset>
            <button type="submit" class="form-control">Update</button>
        </form>
    </div>
</div>