@{
    ViewBag.Title = "Simulator";
    ViewBag.IsSimulatorDisplayed = true;
    ViewBag.IsEditDisplayed = false;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Display the consents -->
<div class="tab-pane active" id="test">
    <p>Click on the link to simulate the implicit grant flow and get an identity token <a href="https://localhost:5443/authorization?scope=openid role profile&state=75BCNvRlEGHpQRCT&redirect_uri=https://localhost:5443/User/Callback&response_type=id_token%20token&client_id=SimpleIdServerClient&nonce=nonce&response_mode=query">Link</a></p>
</div>