@using System.Security.Claims
@using SimpleIdentityServer.Core.Jwt
@using SimpleIdentityServer.Host.ViewModels
@using Microsoft.AspNetCore.Http.Extensions

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.IsEditDisplayed = false;
    ViewBag.IsSimulatorDisplayed = false;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = true;
    var identity = User.Identity as ClaimsIdentity;
    var nameClaim = identity.Claims.FirstOrDefault(c => c.Type == Constants.StandardResourceOwnerClaimNames.Name);
    var givenNameClaim = identity.Claims.FirstOrDefault(c => c.Type == Constants.StandardResourceOwnerClaimNames.GivenName);
    var familyNameClaim = identity.Claims.FirstOrDefault(c => c.Type == Constants.StandardResourceOwnerClaimNames.FamilyName);
    var pictureClaim = identity.Claims.FirstOrDefault(c => c.Type == Constants.StandardResourceOwnerClaimNames.Picture);
    var roles = identity.Claims.Where(c => c.Type == Constants.StandardResourceOwnerClaimNames.Role).Select(c => c.Value).ToList();
    var name = nameClaim == null ? "Unknown" : nameClaim.Value;
    var givenName = givenNameClaim == null ? " - " : givenNameClaim.Value;
    var familyName = familyNameClaim == null ? " - " : familyNameClaim.Value;
    var picture = pictureClaim == null ? Url.Content("~/img/Unknown.png") : pictureClaim.Value;
}

<!-- Display the information -->
<div class="tab-pane active" id="information">
    <h1>Information</h1>
    @if (!ViewBag.IsLocalAccount)
    {
        <a href="@Url.Action("Confirm")">Create a local account</a>
    }
    <div class="row">
        <div class="col-md-5">
            <label>Name</label>
        </div>
        <div class="col-md-7">
            @name
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>First name</label>
        </div>
        <div class="col-md-7">
            @givenName
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>Last name</label>
        </div>
        <div class="col-md-7">
            @familyName
        </div>
    </div>
    @if (ViewBag.IsLocalAccount)
    {
        <div class="row">
            <div class="col-md-5">
                <label>Roles</label>
            </div>
            <div class="col-md-7">
                @if (roles != null && roles.Any())
                {
                    <span>@string.Join(",", roles)</span>
                }
                else
                {
                    <span>No roles</span>
                }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-5">
            <label>Picture</label>
        </div>
        <div class="col-md-7">
            <img src="@picture" alt="Picture" class="img-thumbnail" />
        </div>
    </div>
</div>