@model SimpleIdentityServer.Rfid.Website.ViewModels.LoginViewModel

<div>
    <div class="page-header">
        <h1>Authenticate</h1>
    </div>
    @if (Model.ExternalProviders.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External providers</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    @foreach(var provider in Model.ExternalProviders)
                    {
                        <li>
                            <a class="btn btn-default" href="@Url.Action("ExternalProvider", new { provider = provider.AuthenticationScheme, returnUrl = Model.ReturnUrl })">@provider.DisplayName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>