@using System.Security.Claims

@{
    ViewBag.IsEditDisplayed = false;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = true;
    ViewBag.IsProfileDisplayed = false;
    var identity = User.Identity as ClaimsIdentity;
    var nameClaim = identity.Claims.FirstOrDefault(c => c.Type == "name");
    var givenNameClaim = identity.Claims.FirstOrDefault(c => c.Type == "given_name");
    var familyNameClaim = identity.Claims.FirstOrDefault(c => c.Type == "family_name");
    var pictureClaim = identity.Claims.FirstOrDefault(c => c.Type == "picture");
    var roles = identity.Claims.Where(c => c.Type == "role").Select(c => c.Value).ToList();
    var name = nameClaim == null ? "Unknown" : nameClaim.Value;
    var givenName = givenNameClaim == null ? " - " : givenNameClaim.Value;
    var familyName = familyNameClaim == null ? " - " : familyNameClaim.Value;
    var picture = pictureClaim == null ? Url.Content("~/img/Unknown.png") : pictureClaim.Value;
}

<!-- Display the information -->
<div class="tab-pane active" id="information">
    <h1>Information</h1>
    <div class="row">
        <div class="col-md-5">
            <label>Name</label>
        </div>
        <div class="col-md-7">
            @name
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>First name</label>
        </div>
        <div class="col-md-7">
            @givenName
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>Last name</label>
        </div>
        <div class="col-md-7">
            @familyName
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>Picture</label>
        </div>
        <div class="col-md-7">
            <img src="@picture" alt="Picture" class="img-thumbnail" />
        </div>
    </div>
</div>